.categories-container {
    .category {
        &:first-child {
            margin-left: 30px;
        }
        margin-bottom: 1rem;
    }
    .category-pointer {
        margin: 0 0.5rem;
    }
}

#attributes-container {
    #attribute_colors {
        & .color-inputs {
            display: grid;
            grid-template-columns: 150px 150px;
            margin-left: 2rem;
        }
        & label {
            border-left: 20px solid;
            margin-right: 1rem;
            padding-left: 0.3rem;

            &.mixed-colors-border {
                border-image: linear-gradient(
                        0deg,
                        rgb(199, 21, 133),
                        rgb(50, 224, 66)
                    )
                    1;
            }
            &.black-border {
                border-color: black;
            }
            &.brown-border {
                border-color: brown;
            }
            &.blue-border {
                border-color: blue;
            }
            &.turquoise-border {
                border-color: turquoise;
            }
            &.yellow-border {
                border-color: yellow;
            }
            &.orange-border {
                border-color: orange;
            }
            &.red-border {
                border-color: red;
            }
            &.rose-border {
                border-color: pink;
            }
            &.violet-border {
                border-color: violet;
            }
            &.grey-border {
                border-color: grey;
            }
            &.silver-border {
                border-color: silver;
            }
            &.gold-border {
                border-color: gold;
            }
            &.beige-border {
                border-color: beige;
            }
            &.white-border {
                border-color: white;
            }
        }
    }
}
