#carouselExampleIndicators {
    background: lightgray;
}
img {
    // width: 100%;
    // height: 100%;
    object-fit: contain;
}

// Ab der Mindestgröße prüfe:
@media (min-width: 576px) {
    // Ist es ein handy im Landscape-Modus? Dann setze auf 200px
    @media (max-height: 450px) {
        img {
            height: 200px;
        }
    }
    // Ist es was Anderes als ein Handy? Setze die Größe auf 405px
    @media (min-height: 450px) {
        img {
            height: 305px;
        }
    }
}
// Alles unter der Mindestgröße,schrumpfe Bild auf 200px
@media (max-width: 576px) {
    img {
        height: 200px;
    }
}
