img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 576px) and (max-height: 450px) {
  img {
    height: 200px;
  }
}

@media (min-width: 576px) and (min-height: 450px) {
  img {
    height: 305px;
  }
}

@media (max-width: 576px) {
  img {
    height: 200px;
  }
}


