.categories-container .category {
  margin-bottom: 1rem;
}

.categories-container .category:first-child {
  margin-left: 30px;
}

.categories-container .category-pointer {
  margin: 0 0.5rem;
}

#attributes-container #attribute_colors .color-inputs {
  display: grid;
  grid-template-columns: 150px 150px;
  margin-left: 2rem;
}

#attributes-container #attribute_colors label {
  border-left: 20px solid;
  margin-right: 1rem;
  padding-left: 0.3rem;
}

#attributes-container #attribute_colors label.mixed-colors-border {
  -o-border-image: linear-gradient(0deg, mediumvioletred, #32e042) 1;
     border-image: linear-gradient(0deg, mediumvioletred, #32e042) 1;
}

#attributes-container #attribute_colors label.black-border {
  border-color: black;
}

#attributes-container #attribute_colors label.brown-border {
  border-color: brown;
}

#attributes-container #attribute_colors label.blue-border {
  border-color: blue;
}

#attributes-container #attribute_colors label.turquoise-border {
  border-color: turquoise;
}

#attributes-container #attribute_colors label.yellow-border {
  border-color: yellow;
}

#attributes-container #attribute_colors label.orange-border {
  border-color: orange;
}

#attributes-container #attribute_colors label.red-border {
  border-color: red;
}

#attributes-container #attribute_colors label.rose-border {
  border-color: pink;
}

#attributes-container #attribute_colors label.violet-border {
  border-color: violet;
}

#attributes-container #attribute_colors label.grey-border {
  border-color: grey;
}

#attributes-container #attribute_colors label.silver-border {
  border-color: silver;
}

#attributes-container #attribute_colors label.gold-border {
  border-color: gold;
}

#attributes-container #attribute_colors label.beige-border {
  border-color: beige;
}

#attributes-container #attribute_colors label.white-border {
  border-color: white;
}


